{% extends "base.html.twig" %}

{% block title %}Création d'unne annonce
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Création d'un appart</h1>

       {% include 'ad/_form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('js/add') }}
{% endblock %}
